@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap);

/* KING */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Quicksand";
}

/* base styles */
.App {
  height: 100vh;
  overflow: auto;
}
.navbar {
  padding: 30px;
  display: flex;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid #000;
}
#dark .navbar {
  border-bottom: 1px solid #be5c00;
}
.switch {
  display: flex;
  max-width: 50vw;
  margin-left: auto;
  margin-right: 16px;
  justify-content: center;
  align-items: center;
}
.switch label {
  margin: 10px;
}
#dark .switch label {
  color: #fff;
}
.navbar h1 {
  font-size: 40px;
  color: #be5c00;
}
.navbar a {
  color: #000000;
  font-size: 20px;
  text-align: right;
  text-decoration: none;
  padding: 6px;
}
#dark .navbar a {
  color: #fff;
}
.navbar button {
  font-size: 20px;
  margin-left: 16px;
  background: #be5c00;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.navbar a:hover {
  color: #be5c00;
}
#dark .navbar a:hover {
  color: #be5c00;
}
.navbar button:hover {
  color: #000;
}
.content {
  max-width: 600px;
  margin: 20px auto;
  padding: 50px;
}

/* light and dark mode */
#light {
  background-color: #fff;
}
#dark {
  background-color: #140a00;
}

/* blog previews / list */
.blog-list {
  color: #000000;
}
#dark .blog-list {
  color: #fff;
}
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #000;
}
#dark .blog-preview {
  border-bottom: 1px solid #be5c00;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px #000;
}
#dark .blog-preview:hover {
  box-shadow: 1px 3px 5px #be5c00;
}
.blog-preview h2 {
  font-size: 20px;
  color: #be5c00;
  margin-bottom: 8px;
}
.blog-preview a {
  color: #000000;
  text-decoration: none;
}
#dark .blog-preview a {
  color: #fff;
}

/* blog details page */
.blog-details h2 {
  font-size: 25px;
  color: #be5c00;
  margin-bottom: 0px;
}
#dark .blog-details p {
  color: #fff;
}
.blog-details div {
  margin: 20px 0;
}
#dark .blog-details div {
  color: #fff;
}
.blog-details button {
  background: #be5c00;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
#dark .create label {
  color: #fff;
}
.create h2 {
  font-size: 20px;
  color: #be5c00;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #be5c00;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.create button:hover {
  color: #000;
}

/* page not found */
.not-found h2 {
  font-size: 40px;
  color: #be5c00;
  margin-bottom: 40px;
}
.not-found p {
  margin-bottom: 20px;
}
#dark .not-found p {
  color: #fff;
}
.not-found button {
  background: #be5c00;
  color: #fff;
  border: 0;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.not-found button:hover {
  color: #000;
}
